body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 1.5em;
}

#search-results-container {
  margin-top: 20px;
}

#search-results-container .msg {
  display: none;
}

#graph {
  margin-bottom: 20px;
}